<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<title>Recommendations for Type 1 Diabetics</title>
<style>
	body {
		background-color: #fff;
		font-family: "Poppins", sans-serif;
		text-align: center;
		padding: 30px;
	}

	h3 {
		color: #f44336;
		margin-top: 50px;
		font-size: 36px;
		font-weight: bold;
	}

	p {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: black;
	}

	ul {
		list-style-type: square;
		font-size: 18px;
		margin-left: 50px;
		margin-right: 50px;
		text-align: left;
		color: black;
	}

	li {
		margin-bottom: 10px;
	}

	.highlight {
		color: red;
	}

	.disclaimer {
		font-size: 14px;
		margin-top: 20px;
		color: gray;
	}
</style>

</head>
<body>

<h3>{{message}}</h3>
<p class="disclaimer">Please note that these are general recommendations and may not apply to everyone. Always consult with your healthcare provider before making any changes to your diabetes management plan.</p>
<br>
<p>General tips for maintaining blood sugar during exercise:</p>
<ul>
	<li>Check your blood sugar level before and after exercising</li>
	<li>Bring snacks or drinks with you to manage low blood sugar</li>
	<li>Wear a <span class="highlight">medical identification bracelet</span></li>
	<li>Stay hydrated</li>
	<li>Modify your insulin doses if necessary</li>
</ul>
</body>
</html>